
.profile{
  display: flex;
  align-items: stretch;
  position: relative;
  gap: 30px;
}
.deviderY{
  width: 1px;
  height: auto;
  background: #9c9fa0;
}
.container{
  &First{
    max-width: 890px;
    width: 100%;
  }
  &Second{
    width: 100%;
    @media(max-width: 1070px){
      width: auto;
    }
    @media(max-width: 800px){
      position: fixed;
      top: 7%;
      right: 5px;;
    }
  }
}
.title{
  margin-bottom: 16px;
  &Second{
    margin-top: 48px;
  }
}


.content{
  background: #fff;
  padding: 28px 24px;
  border-radius: 24px;
  &Avatar{
    margin: 0 auto 24px auto;
    background: #60696C;
    padding: 28px 35px;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}

.card{
  width: 128px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  @media(max-width: 400px){
    width: 100px;
  }
}

.phone{
  position: sticky;
  top: 20%;
  margin: 0 auto;
  background: transparent;
  width: 195px;
  height: 400px;
  border-radius: 30px;
  border: 10px solid #000000;
  overflow: hidden;
}

.linksExample{
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
}

.linkExample{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  z-index: 2;
  padding: 10px;
  border-width: 2px;
  margin-bottom: 2px;
}

.avatarExample{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.linkButton{
  margin-bottom: 16px;
} 

.linkText{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}