.h1{
font-size: 56px;
letter-spacing: -1.12px;
line-height: 58.8px;

@media(max-width: 768px){
  font-size: 32px;
  line-height: 48px;
}
}
.h2{
font-size: 20px;
letter-spacing: -0.4px;
line-height: 30px;
@media (max-width: 768px){
  font-size: 18px;
  line-height: 28px;
}
}
.h3{
font-size: 20px;
letter-spacing: -0.4px;
line-height: 30px;
@media (max-width: 768px){
  font-size: 18px;
  line-height: 28px;
}
}
.body{
font-size: 20px;
letter-spacing: -0.4px;
line-height: 30px;
@media (max-width: 768px){
  font-size: 18px;
  line-height: 28px;
}
}